{% extends 'Alumnos/layouts/base.html' %}

{% load static %}
{% block content %}
    <main class="container">
        <h1>Actualizar contrasena</h1>
        <form method="post" class="row g-3 mt-3">

            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>

            {% else %}
                {% if mensaje %}
                    <div class="alert alert-success" role="alert">
                        {{ mensaje }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="col-4">
                <label for="password_actual" class="form-label text-white">Ingresa tu contrasena actual</label>
                <input type="password" id="password_actual" class="form-control" name="password_actual">
            </div>
            <div class="col-4">
                <label for="nueva_password" class="form-label text-white">Ingresa tu nueva contrasena</label>
                <input type="password" id="nueva_password" class="form-control" name="nueva_password">
            </div>
            <div class="col-4">
                <label for="repeticion_password" class="form-label text-white">Repite tu nueva contrasena</label>
                <input type="password" id="repeticion_password" class="form-control" name="repeticion_password">
            </div>


            <div class="col-12">
                <center>
                    <button type="submit" class="btn btn-primary">
                        Actualizar datos
                    </button>
                </center>
            </div>
        </form>
    </main>
{% endblock %}