{% extends 'Login/templates/base.html' %}

{% load static %}

{% block banner %}
    <div class="col-lg-4 d-flex">
        <div class="container align-self-center px-5 content">
            <h1 class="text-uppercase font-weight-bold mb-4">Solicita tu credencial ya&#33</h1>
            <p class="lead-xl mb-4">Es de util importacia el tener tu credencial solicitada en caso de cualquier
                cosa sera util&#33</p>
            <a href="#" class="btn btn-primary">Solicitar ahora&#33</a>
        </div>
    </div>

{% endblock %}

{% block content %}
    <form class="bg-white p-5 rounded-5 text-secondary" style="width: 25rem;">
        <div class="d-flex justify-content-center">
            <img src="{% static 'Login/img/img_login/login-icon.svg' %}" alt="login-icon" style="height: 7rem">
        </div>
        <div class="text-center fs-1 fw-bold">bienvenido ALumno</div>
        <div class="input-group mt-5">
            <div class="input-g roup-text bg-info">
                <img src="{% static 'Login/img/img_login/username-icon.svg' %}" alt="username.svg" style="height: 1rem;">
            </div>
            <input type="text" class="form-control" name="usuario" placeholder="Nombre de usuario">
        </div>
        <div class="input-group mt-5">
            <div class="input-group-text bg-info ">
                <img src="{% static 'Login/img/img_login/password-icon.svg' %}" alt="password.svg" style="height: 1rem;">
            </div>
            <input type="password" class="form-control" name="Contraseña" placeholder="Contraseña">
        </div>
        <div class="d-flex justify-content-around mt-2">
            <div class="d-flex align-items-center gap-1">
                <input class="form-check-input" type="checkbox" name="">
                <div style="font-size: 0.9rem" class="pt-1">remember mi</div>
            </div>
            <div class="pt-1">
                <a href="#" class="text-decoration-none text-info fw-semibold fst-italic" style="font-size: 0.9rem;">Forgot
                    your Password</a>
            </div>
        </div>
        <div class="btn btn-info text-white w-100 mt-3">Login</div>
        <div class="d-flex gap-1 justify-content-center mt-1">
            <div>don't hava an acconut?</div>
            <a href="{% url 'registro_alumnos' %}" class="text-decoration-none text-info fw-semibold">Registrarse</a>
        </div>
    </form>
{% endblock %}