{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" href="{% static 'Login/img/img_login/icons8-cвdigo.gif' %}">
    <title>Loing</title>
</head>
<body class=" d-flex justify-content-center align-items-center vh-100 bg-primary bg-black">
<form method="post">

    {% csrf_token %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elif mensaje%}
        <div class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>
    {% endif %}

    <div class="bg-white p-5 rounded-5 text-secondary" style="width: 25rem;">
        <div class="d-flex justify-content-center">
            <img src="{% static 'Login/img/img_login/login-icon.svg' %}" alt="login-icon" style="height: 7rem">
        </div>
        <div class="text-center fs-1 fw-bold">Bienvenido Alumno</div>
        <div class="input-group mt-5">
            <div class="input-group-text bg-info">
                <img src="{% static 'Login/img/img_login/login-icon.svg' %}" alt="username.svg" style="height: 1rem;">
            </div>
            <input type="text" class="form-control" name="email" placeholder="Nombre de usuario">
        </div>
        <div class="input-group mt-5">
            <div class="input-group-text bg-info ">
                <img src="{% static 'Login/img/img_login/password-icon.svg' %}" alt="password.svg"
                     style="height: 1rem;">
            </div>
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
        </div>
        <div class="d-flex justify-content-around mt-2">
            <div class="d-flex align-items-center gap-1">
                <input class="form-check-input" type="checkbox" name="">
                <div style="font-size: 0.9rem" class="pt-1">Recuerdame</div>
            </div>
            <div class="pt-1">
                <a href="#" class="text-decoration-none text-info fw-semibold fst-italic" style="font-size: 0.9rem;">Recuperrar
                    contraseña</a>
            </div>
        </div>
        <button type="submit" class="btn btn-info text-white w-100 mt-3">Login</button>
        <div class="d-flex gap-1 justify-content-center mt-1">
            <div>¿No tienes cueta?</div>
            <a href="{% url 'registro_alumnos' %}" class="text-decoration-none text-info fw-semibold">Alumno</a>
            {#      <a href="./formulario_P.html" class="text-decoration-none text-info fw-semibold">Personal</a>#}
        </div>
    </div>
</form>

</body>
</html>