{% extends 'Alumnos/layouts/base.html' %}

{% load static %}
{% block content %}

    <div class="contenedor">
        <div class="cards-grid">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=1380&t=st=1679244857~exp=1679245457~hmac=0dbb707c5834d85db8ddd325cec0e5c45a061e33a4e88cb8570c15694b4f8f0a');">
                        <div class="card-content card-content1">
                            <div class="contenedor_img">
                                <p class="nombre_universidad">Universidad Politecnica de Tapachula</p>
                                <img src="{% static 'Alumnos/img/LogoUPTap.png' %}" class="profile-pic" alt="">
                            </div>
                            <div class="contenedor_datos">
                                <img src="{% url 'qr' matricula=alumno.matricula %}" class="card-img-top imagen">
                                <p class="dato">Tipo de sangre: <span class="dato_remarcado">{{ alumno.ficha_medica.tipo_sangre }}</span></p>
                                <p class="dato">Telefono de emergencia: <span class="dato_remarcado">{{ alumno.contacto_emergencia.numero_telefono }}</span></p>
                            </div>

                            <div>
                                <img src="{% static 'Alumnos/img/dgutyp.png' %}" class="img_asset" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="card-content card-content2">
                            <div>
                                <img src="{% static imagen %}" alt="Foto de perfil" class="profile-pic">
                            </div>
                            <div>
                                <p>ESTUDIANTE</p>
                                <p>{{ alumno.carrera }}</p>
                            </div>

                            <div class="text-left">
                                <p class="">{{ alumno.nombre }}</p>
                                <p>{{ alumno.apellido }}</p>
                                <p>{{ alumno.matricula }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}