
        <div class="col-lg-4 d-flex">
            <div class="container align-self-center px-5 content">
                <h1 class="text-uppercase font-weight-bold mb-4">Solicita tu credencial ya&#33</h1>
                <p class="lead-xl mb-4">Es de util importacia el tener tu credencial solicitada en caso de cualquier
                    cosa sera util&#33</p>
                <a href="#" class="btn btn-primary">Solicitar ahora&#33</a>
            </div>
        </div>
        <div class="mt-5 row no-gutters justify-content-center col-lg-7">
            {% block content %}

            {% endblock %}
        </div>